<div id="registerDiv" class="container card bg-light p-2 my-2">
  <!------------ First Form ------------->
  <div *ngIf="isEmpty" class="alert alert-danger">{{ warning }}</div>
  <form #registerForm1="ngForm" (ngSubmit)="continueRegisteration(registerForm1)" *ngIf="!stageOne" novalidate>
    <p>Register</p>
    <div class="form-group">
      <input type="email" name="email" class="form-control" placeholder="E-Mail"
        [ngClass]="{ 'is-invalid': email.errors && email.touched }" ngModel #email="ngModel" required
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />
      <div [hidden]="!email.errors?.required" class="invalid-feedback">Email is required</div>
      <div [hidden]="!email.errors?.pattern" class="invalid-feedback">Email is not valid</div>
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password"
        [ngClass]="{ 'is-invalid': password.errors && password.touched }" ngModel #password="ngModel" required
        pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" />
      <div [hidden]="!password.errors?.required" class="invalid-feedback">Password is required</div>
      <div [hidden]="!password.errors?.pattern" class="invalid-feedback">
        Password must be at least 8 characters long and contain at least one number and one letter
      </div>
    </div>
    <div class="form-group">
      <input type="password" name="password2" class="form-control" placeholder="Confirm Password"
        [ngClass]="{ 'is-invalid': password2.errors && password2.touched }" ngModel #password2="ngModel" required
        minlength="4" />
      <div [hidden]="!password2.errors?.required" class="invalid-feedback">Password confirmation is required</div>
    </div>
    <div class="form-group">
      <input type="text" name="customerId" class="form-control" placeholder="ID Number"
        [ngClass]="{ 'is-invalid': cardId.errors && cardId.touched }" ngModel #cardId="ngModel" required minlength="9"
        maxlength="9" pattern="^[0-9]+$" />
      <div [hidden]="!cardId.errors?.required" class="invalid-feedback">ID number is required</div>
      <div [hidden]="!cardId.errors?.minlength" class="invalid-feedback">
        ID number must contain 9 digits
      </div>
      <div [hidden]="!cardId.errors?.pattern" class="invalid-feedback">ID number is invalid</div>
    </div>
    <button type="submit" [disabled]="!registerForm1.valid" class="btn btn-danger">Next</button>
  </form>

  <!------------ Second Form ------------->
  <form #registerForm2="ngForm" (ngSubmit)="onRegisterUser(registerForm2)" *ngIf="stageOne" novalidate>
    <p>Continue Registration</p>
    <div class="form-group">
      <input type="text" name="firstName" class="form-control" placeholder="First Name"
        [ngClass]="{ 'is-invalid': fname.errors && fname.touched }" ngModel #fname="ngModel" required minlength="2" />
      <div [hidden]="!fname.errors?.required" class="invalid-feedback">First name is required</div>
      <div [hidden]="!fname.errors?.minlength" class="invalid-feedback">
        First name must be at least 2 characters
      </div>
    </div>
    <div class="form-group">
      <input type="text" name="lastName" class="form-control" placeholder="Last Name"
        [ngClass]="{ 'is-invalid': lname.errors && lname.touched }" ngModel #lname="ngModel" required minlength="2" />
      <div [hidden]="!lname.errors?.required" class="invalid-feedback">Last name is required</div>
      <div [hidden]="!lname.errors?.minlength" class="invalid-feedback">
        Last name must be at least 2 characters
      </div>
    </div>
    <div class="form-group">
      <label for="city">Select city:</label>
      <select type="text" name="city" class="form-control" id="city" ngModel #city="ngModel" required>
        <option *ngFor="let city of cities" [ngValue]="city">{{ city }}</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" name="street" class="form-control" placeholder="Street Address"
        [ngClass]="{ 'is-invalid': street.errors && street.touched }" ngModel #street="ngModel" required
        minlength="2" />
      <div [hidden]="!street.errors?.required" class="invalid-feedback">Street is required</div>
      <div [hidden]="!street.errors?.minlength" class="invalid-feedback">
        Street must be at least 2 characters
      </div>
    </div>
    <button type="submit" class="btn btn-danger">Register</button>
  </form>
</div>